body {
    background-color: #e5fcf8ab;
    margin: 0 20%;
    font-family: Noto IKEA Latin;
    }
  
  
  h1 {
    text-align: center;
    font-family: Noto IKEA Latin;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #57b1dc;
    margin-top: 30px;
  }
  
  label{
      display: inline-block;
      clear: left;
      width: 10000px;
      text-align: right;
  }
  
  .container{
    width:32%;
    margin:0;
    padding:0;
    float:right;
  }
  .container1{
    width:0%;
    margin:0;
    padding:0;
    float:left;
  }
  input {border:none; width:90px}
  .label {width:20px;}
  .wrapper {border: none gray; width:140px;float:right}
  
  h2 {
    color: #000;
    font-size: 1.5em;
  }
  
  h3 {
    color: #000;
    font-size: 1em;
  }
  h4 {
    color: #000;
    font-size: 1.5em;
    text-align: left;
  }
  
  footer {
    clear: both;
    position: relative;
    height: 50px;
    text-align: center;
    margin-top: 180px;
}
  button {
    position:relative;
    left:20px;
    width:120;
    height:60;
    text-align: center;
    display:inline-block;
  }
  .infolink{
    position: absolute;
    top: 60px;
    right: 60px;
    text-align: center;
}

.infolink:before
{
    content: 'Glossary';
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    width:  10ex;
    height: 3ex;
    font-size: 3ex;
    line-height: 3ex;
    border-radius: 4ex;
    margin-right: 4px;
    padding: 1px;
    color: rgb(3, 3, 3);
    background: white;
    border: 1px solid #000000;
    text-decoration: none;
}

.infolink:hover:before
{
    color: white;
    background: rgb(138, 52, 52);
    border-color: #faf2e4;
    text-decoration: none;
}

.frontpage{
    position: absolute;
    top: 60px;
    right: 60px;
    text-align: center;
}

.frontpage:before
{
    content: 'Return to Calculator';
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    width:  20ex;
    height: 3ex;
    font-size: 3ex;
    line-height: 3ex;
    border-radius: 4ex;
    margin-right: 4px;
    padding: 1px;
    color: rgb(3, 3, 3);
    background: white;
    border: 1px solid #000000;
    text-decoration: none;
}

.frontpage:hover:before
{
    color: white;
    background: rgb(56, 58, 179);
    border-color: #faf2e4;
    text-decoration: none;
}

.frac {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  letter-spacing: 0.001em;
  text-align: center;
}
.frac > span {
  display: block;
  padding: 0.1em;
}
.frac span.bottom {
  border-top: thin solid black;
}
.frac span.symbol {
  display: none;
} 
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
hr.class-1 {
  border-top: 5px solid #000000;
  clear: both;
}




.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #679bb6;
  color: #679bb6;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}