body {
    background-color: #faf2e4;
    margin: 0 20%;
    font-family: Noto IKEA Latin;
    overflow: hidden;
    }
  
  
  h1 {
    
    text-align: center;
    font-family: Noto IKEA Latin;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #57b1dc;
    margin-top: 30px;
  }
  
  label{
      display: inline-block;
      clear: left;
      width: 250px;
      text-align: right;
  }
  
  .container{
    width:17%;
    margin:0;
    padding:0;
    float:right;
  }
  .container1{
    width:0%;
    margin:0;
    padding:0;
    float:left;
  }
  input {border:none; width:90px}
  .label {width:20px;}
  .wrapper {border: none gray; width:110px;float:right}
  
  h2 {
    color: #000;
    font-size: 1.5em;
  }
  
  h3 {
    color: #000;
    font-size: 1em;
  }
  h4 {
    color: #000;
    font-size: 1.5em;
    text-align: left;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 65%;
    height: 50px;
    text-align: center;
  }
  button {
    position:relative;
    left:20px;
    width:120;
    height:60;
    text-align: center;
    display:inline-block;
  }
  .infolink{
    position: absolute;
    top: 60px;
    right: 60px;
    text-align: center;
}

.infolink:before
{
    content: 'Glossary';
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    width:  10ex;
    height: 3ex;
    font-size: 3ex;
    line-height: 3ex;
    border-radius: 4ex;
    margin-right: 4px;
    padding: 1px;
    color: rgb(3, 3, 3);
    background: white;
    border: 1px solid #000000;
    text-decoration: none;
}

.infolink:hover:before
{
    color: white;
    background: rgb(138, 52, 52);
    border-color: #faf2e4;
    text-decoration: none;
}

.frontpage{
    position: absolute;
    top: 60px;
    right: 60px;
    text-align: center;
}

.frontpage:before
{
    content: 'Return';
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    width:  10ex;
    height: 3ex;
    font-size: 3ex;
    line-height: 3ex;
    border-radius: 4ex;
    margin-right: 4px;
    padding: 1px;
    color: rgb(3, 3, 3);
    background: white;
    border: 1px solid #000000;
    text-decoration: none;
}

.frontpage:hover:before
{
    color: white;
    background: rgb(138, 52, 52);
    border-color: #faf2e4;
    text-decoration: none;
}

